.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f0ef;
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .nav ul {
    display: flex;
    list-style: none;
    gap: 200px;
  }
  
  .nav a {
    text-decoration: none;
    color: black;
    font-weight: normal;
  }
  