.bannerContainer {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


