

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

div ::-webkit-scrollbar {
    border-radius: 8px;
    background: #161616;
}
     
div ::-webkit-scrollbar-thumb {
    background: #d9534f;
    border-radius: 6px;
}