.main {
    position: relative;
    flex-grow: 1;
}
.textbutton {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}   

.bannerContent {
    width: 100%;
}

.bannerContent h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}

.bannerContent p {
    font-size: 16px;
    font-weight: 500px;
    margin-left: 20px;
}

.button {
    background-color: #d9534f;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 20px;
}
