.main {
    position: relative;
    flex-grow: 1;
}
.textbutton {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}   

.bannerContent {
    width: 100%;
}

.bannerContent h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
}

.bannerContent p {
    font-size: 16px;
    font-weight: 500px;
    margin-left: 20px;
}

.button {
    background-color: #d9534f;
    border: none;
    padding: 4px; 
    color: white;
    font-size: 0.9rem; 
    cursor: pointer;
    margin-right: 20px;
    border-radius: 10px;
    width: 130px;
    height: 50px;
    transition: 0.5s ease;
}

.button:hover{
    background-color:#a33d3a;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    color: aliceblue;
    font-weight: 700;
}